
@{
    ViewData["Title"] = "宜宾烟草";
    var GoodsList = ViewBag.GoodsList as List<HC.WeChat.ActivityGoodses.Dtos.ActivityGoodsDto>;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
    <title>宜宾烟草</title>
    <link rel="stylesheet" href="static/css/base.css" />
    <link rel="stylesheet" href="static/css/commons.css" />
    <link rel="stylesheet" href="static/css/tobacco.css" />
</head>
<body class="bg_gary">
    <div id="background" class="background" style="display: none; "></div>
    <div id="progressBar" class="progressBar" style="display: none; ">正在提交中，请稍等...</div>
    <!--页面整体-->
    <div class="all_width">
        <!--通用头部-->
        <div class="header bg_green tc">
            活动申请
        </div>
        <!--banner展示-->
        <img src="static/img/activity/banner.jpg" class="img_width" />
        <!--活动申请输入部分-->
        <div class="pr advise_area">
            <!--透明背景-->
            <div class="opacity_bg all_width">
                <!--选择商品-->
                <div class="advise_warp pt5 pb5">
                    <select id="dllSpecification" class="fl entry_value" placeholder="请选择申请商品规格">
                        @foreach (var item in GoodsList)
                        {
                            <option value="@item.Id">@item.Specification</option>
                        }
                        <option value="other">其它</option>
                    </select>
                </div>
                <!--选其它需要输入商品规格-->
                <div id="divGoodsSpecification" class="advise_warp pt5 pb5">
                    <span class="entry_key fl">商品规格</span>
                    <input type="text" maxlength="50" id="txtGoodsSpecification" class="fl ml10 entry_value" placeholder="请输入其它商品规格" />
                </div>
                <!--申请数量-->
                <div class="advise_warp pt5 pb5">
                    <span class="entry_key fl">申请数量</span>
                    <input type="number" id="txtNum" class="fl ml10 entry_value" placeholder="请输入申请数量" />条
                </div>
                <div class="advise_warp">
                    <span class="entry_key db pb3 pt3">申请理由</span>
                    <!--内容输入框-->
                    <textarea class="contain_entry" id="txtReason" placeholder="请输入申请理由"></textarea>
                </div>
                <div class="advise_warp pt5 pb5">
                    <span class="entry_key fl">收货姓名</span>
                    <input type="text" maxlength="50" id="txtUserNaem" class="fl ml10 entry_value" placeholder="请输入收货姓名" />
                </div>
                <!--联系电话-->
                <div class="advise_warp pt3 pb3">
                    <span class="entry_key fl">联系电话</span>
                    <input type="number" maxlength="11" id="txtPhone" class="fl ml10 entry_value" placeholder="请输入联系电话" />
                </div>
                <!--收货地址-->
                <div class="advise_warp pt3 pb3">
                    <span class="entry_key fl">收货地址</span>
                    <textarea class="contain_entry" id="txtAddress" placeholder="请输入收货地址"></textarea>
                </div>
                <!--备注-->
                <div class="advise_warp pt3 pb3">
                    <span class="entry_key fl">收货备注</span>
                    <textarea class="contain_entry" id="txtDeliveryRemark" placeholder="请输入备注"></textarea>
                </div>
                <input type="hidden" id="hidOpenId" value="@ViewBag.OpenId" />
                <input type="hidden" id="hidTenantId" value="@ViewBag.TenantId" />
                <input type="hidden" id="hidActivityId" value="@ViewBag.ActivityId" />
            </div>
        </div>
        <!--用户操作按钮-->
        <div class="width_90 mt30 mb20">
            <input type="button" class="middel_btn fl cancel" onclick="Cancel()" value="取消申请" />
            <input type="button" class="middel_btn fr ok" id="btnSave" value="提交申请" onclick="Save()" />
        </div>
        <a style="display:none" href="@ViewBag.Url">
            <input type="button" id="abtnGoBindUser" />
        </a>
    </div>
    <script type="text/javascript" src="static/js/jquery.min.js"></script>
    <script type="text/javascript">
        $(function () {
            var userType = @ViewBag.UserType;
            if (userType != 1 && userType != 2) {
                alert("如果您是零售客户请先完成用户绑定，如果您是消费者请咨询附近商家");
                //window.location.href = "";
                $('#abtnGoBindUser').click();
            }

            $("#divGoodsSpecification").hide();

            $("#dllSpecification").change(function () {
                if ($("#dllSpecification").val() == 'other') {
                    $("#divGoodsSpecification").show();
                } else {
                    $("#divGoodsSpecification").hide();
                }
            });
        });

        function checkMobile(str) {
            var re = /^1\d{10}$/
            return re.test(str);
        }

        var Cancel = function () {
            WeixinJSBridge.call('closeWindow');
        }

        var Save = function () {
            var reqUrl = "@ViewBag.ServerRootAddress" + "/api/services/app/ActivityForm/SubmitActivityFormAsync";
            var para = {};
            para.activityGoodsId = $("#dllSpecification").val();
            if (para.activityGoodsId == "") {
                alert("商品规格不能为空！");
                return;
            }
            //其它商品规格处理
            if (para.activityGoodsId == "other") {
                para.goodsSpecification = $("#txtGoodsSpecification").val();

                if (para.goodsSpecification == "") {
                    alert("其它商品规格不能为空！");
                    return;
                }
                para.activityGoodsId = "";
            } else {
                para.goodsSpecification = $("#dllSpecification").find("option:selected").text();
            }

            para.num = $("#txtNum").val();
            if (para.num == "") {
                alert("申请数量不能为空！");
                return;
            }
            para.reason = $("#txtReason").val();
            if (para.reason == "") {
                alert("申请理由不能为空！");
                return;
            }
            para.userName = $("#txtUserNaem").val();
            if (para.userName == "") {
                alert("收货人姓名不能为空！");
                return;
            }
            para.phone = $("#txtPhone").val();
            if (para.phone == "") {
                alert("联系电话不能为空！");
                return;
            }

            if (!checkMobile(para.phone)) {
                alert("请输入正确的联系电话！");
                return;
            }

            para.address = $("#txtAddress").val();
            if (para.address == "") {
                alert("收货地址不能为空！");
                return;
            }

            para.deliveryRemark = $("#txtDeliveryRemark").val();

            para.tenantId = $("#hidTenantId").val();
            para.openId = $("#hidOpenId").val();
            para.activityId = $("#hidActivityId").val();
            if (confirm("请确认信息填写无误，提交后不可更改")) {
                $("#btnSave").attr("disabled", true);
                $("#btnSave").attr("disabled", "disabled");
                var ajaxbg = $("#background, #progressBar");
                ajaxbg.show();
                $.ajax({
                    url: reqUrl,
                    type: "POST",
                    dataType: "JSON",
                    contentType: "application/json;charset=utf-8",
                    data: JSON.stringify(para),
                    success: function (data) {
                        ajaxbg.hide();
                        if (data.success) {
                            if (data.result.code == 0) {
                                alert(data.result.msg);
                                WeixinJSBridge.call('closeWindow');
                            } else {
                                alert(data.result.msg);
                            }
                        } else {
                            alert("保存异常！");
                        }
                        $("#btnSave").removeAttr("disabled");
                        $("#btnSave").attr("disabled", false);
                    },
                    error: function () {
                        ajaxbg.hide();
                        alert("提交失败，稍后请重试！");
                        $("#btnSave").removeAttr("disabled");
                        $("#btnSave").attr("disabled", false);
                    }
                });
            }
        }
    </script>
</body>
</html>


