@model  HC.WeChat.WeChatUsers.Dtos.WeChatUserListDto
@{
    ViewData["Title"] = "宜宾烟草";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
    <title>宜宾烟草</title>
    <link rel="stylesheet" href="static/css/base.css" />
    <link rel="stylesheet" href="static/css/commons.css" />
    <link rel="stylesheet" href="static/css/personal.css" />
</head>
<body class="bg_gary">
    <!--页面整体-->
    <div class="all_width">
        <div class="header bg_green tc">
            个人中心
        </div>
        <!--个人中心头部-->
        <div class="personal_head">
            <!--头像-->
            <img src="@Model.HeadImgUrl" class="personal_header" />
            <p class="personal_id"><span>@Model.NickName</span></p>
        </div>
        <!--个人信息功能链接-->
        <ul class="personal_link all_width">
            <li style=" margin-bottom:0px; padding-bottom:0px;">
                <div style="color:darkgray">个人信息</div>
                <hr style="color:darkgray; margin-bottom:0px;" />
            </li>
        </ul>

        <ul class="personal_link all_width">
            <li>
                <label class="fl main_green">
                    用户姓名
                </label>
                <label class="fl  ml20">@Model.UserName</label>
            </li>
            <li>
                <label class="fl main_green">
                    用户类型
                </label>
                <label class="fl  ml20">@Model.UserType.ToString()</label>
            </li>

        </ul>
        @*<hr style="color:#148363;" />*@
        <ul class="personal_link all_width">
            <li style=" margin-bottom:0px; padding-bottom:0px;">
                <div style="color:darkgray">活动申请单</div>
                <hr style="color:darkgray; margin-bottom:0px;" />
            </li>
        </ul>
        <ul class="personal_link all_width">
            <li>
                <label class="fl main_green">
                    未完成
                </label>

                <label class="fl ml20">@ViewBag.OutstandingCount 单</label>
                @*<a class="fr" style="color:yellowgreen" href="~/YiBinWX/ActivityFromApply?check=false">查询</a>*@
                <a class="fr" style="color:yellowgreen" href="@Url.Action("ActivityFromApply","YiBinWX",new { check = false , openId = Model.OpenId })">查看</a>
            </li>
            <li>
                <label class="fl main_green">
                    已完成
                </label>
                <label class="fl ml20">@ViewBag.CompletedCount 单</label>
                @*<a class="fr" style="color:yellowgreen" href="~/YiBinWX/ActivityFromApply?check=true">查询</a>*@
                <a class="fr" style="color:yellowgreen" href="@Url.Action("ActivityFromApply","YiBinWX",new { check = true,openId = Model.OpenId })">查看</a>
            </li>
        </ul>
        @*<div class="advise_warp">
                <a class=" fl  ml20 large_btn ok mt30 border_radius " href="@Url.Action("ActivityFromApply","YiBinWX",new {check=false,openId=@ViewBag.OpenId })">未完结办事用烟查询</a>
                <a class="fl  ml20 large_btn ok mt30 border_radius " href="@Url.Action("ActivityFromApply","YiBinWX",new {check=true,openId=@ViewBag.OpenId })">已完结办事用烟查询</a>
            </div>*@
    </div>

</body>
</html>


